<div class="container">
<div class="field">
  <!-- multipart: true just means you can use two types of data -->

  <%= form_for @post, html: {multipart: true} do |form| %>
    
    <% if @post.errors.any? %>
      <div class="alert alert-block">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4>Error!</h4>
      We've got our top people working furiously on this...wait, it was your fault.
      
      <% @post.errors.full_messages.each do |error| %>
        <%=error %>
      <% end %>
      </div>
    <% end %>

    <div>
      <h2 class='headline'><%= form.label :title %></h2>
      <%= form.text_field :title %>
    </div>
      <h2 class='headline'>Image Upload</h>
      <div><%= form.file_field :image %>
      </div>
    <div>
      <%= form.label :body %>
      <%= form.text_area :body, :class => 'ckeditor' %>
    </div>

   <hr>

    <div>
      <%= form.label :tag_list, "Tags (separated by commmas)" %>
      <%= form.text_field :tag_list %>
    </div>



    <%= form.submit %>
   
   
  <% end %>

</div>
</div>