<div class="field">
  <!-- multipart: true just means you can use two types of data -->
  <%= form_for @post, html: {multipart: true} do |form| %>
    
    <% if @post.errors.any? %>
      <h2>Something is messed up here!</h2>
      <% @post.errors.full_messages.each do |error| %>
        <p style="color:red"><%=error %></p>
      <% end %>
    <% end %>

    <div>
      <h2 class='headline'><%= form.label :title %></h2>
      <%= form.text_field :title %>
    </div>

    <div>
      <h2 class='headline'>Upload an image</h2>
      <%= form.file_field :image %>
    <div>

    <div>
      <%= form.label :body %>
      <%= form.bootsy_area :body %>
    </div>

   <hr>

    <div>
      <%= form.label :tag_list, "Tags (separated by commmas)" %>
      <%= form.text_field :tag_list %>
    </div>



    <%= form.submit %>
   
   
  <% end %>

</div>