<div class="field">
  <%= form_for @post do |form| %>
    
    <% if @post.errors.any? %>
      <h2>Something is messed up here!</h2>
      <% @post.errors.full_messages.each do |error| %>
        <p style="color:red"><%=error %></p>
      <% end %>
    <% end %>

    <div>
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>


<!--     <div>
      <%= form.label :body %>
      <%= form.text_area :body, :class => 'ckeditor' %>
    </div> -->

    <div>
      <%= form.label :body %>
      <%= form.text_area :body, :class => "tinymce", :rows => 40, :cols => 120 %>
    </div>

   <hr>

    <div>
      <%= form.label :tag_list, "Tags (separated by commmas)" %>
      <%= form.text_field :tag_list %>
    </div>



    <%= form.submit %>
   
   
  <% end %>
<%= tinymce %>
</div>