
    <h2 class="btn btn-large disabled"><%= link_to "New Post", new_post_path %></h2>
    
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span8 posts">
          <div class="row-fluid">
            <% post = @posts.shift %>
            <%= post.title %>
          </div>

          <!--This iterates through the posts -->
          <% @posts.each_with_index do |post, i| %>
            <% if i % 2 == 0 %>
              <div class="row-fluid">
            <% end %>
              <!--This is the main post section-->
              <div class="span6">
                <h2 class="headline"><%= link_to post.title, post %></h2>
                <p>Tags: <%= raw post.tag_list.map { |tag| link_to tag, tag_path(tag) }.join(', ') %></p>

                <p>
                  <%= raw truncate post.body, length: 300 %>
                  <%= link_to "read more", post %>
                </p>
              </div> 
            <% if i % 2 == 1 %>
              </div>
            <% end %> 
          <% end %>
        </div>  
        <!--The Widget Section --> 
        <div class="span4 widgets">
          <h2 class="headline">Money-making Ads</h2>
          <p><img src="http://placehold.it/350x300"></p>
        </div>
      </div> 
    </div>