
    <h2 class="btn btn-large disabled"><%= link_to "New Post", new_post_path %></h2>
    
    <div class="container-fluid">
      <div class="row-fluid">
        <!-- This is the main header section -->
        <div class="span7">
          <div class="row-fluid posts">
            <% post = @posts.shift %>

            <h1 class="headline"><%= link_to post.title, post %></h1>
            <img src="http://placehold.it/714x250>">
            <p>Tags: <%= raw post.tag_list.map { |tag| link_to tag, tag_path(tag) }.join(', ') %></p>
              
            <p>
              <%= raw truncate post.body, length: 1900 %>
              <%= link_to "read more", post %>
               |||
                  <%= link_to "Leave a comment",
                     post_path(  post, :anchor => "disqus_thread"),
                    :"data-disqus-identifer" =>   post.id %>
            </p>

          </div>


          <!--This iterates through the posts -->
          <% @posts.each_with_index do |post, i| %>
            <% if i % 2 == 0 %>
              <div class="row-fluid">
            <% end %>
              <!--This is the main post section-->
              <div class="span6">
                <div class="posts">
                  <h2 class="headline"><%= link_to post.title, post %></h2>
                  <p>Tags: <%= raw post.tag_list.map { |tag| link_to tag, tag_path(tag) }.join(', ') %></p>

                  <p>
                    
                    <img src="http://placehold.it/70x70" class="floatLeft">
                    
                    <%= raw truncate post.body, length: 300 %>
                    <%= link_to "read more", post %> |||
                    <%= link_to "Leave a comment",
                       post_path(  post, :anchor => "disqus_thread"),
                      :"data-disqus-identifer" =>   post.id %>
                    
                  </p>
                </div>  
              </div> 
            <% if i % 2 == 1 %>
              </div>
            <% end %> 
          <% end %>
        </div>  
        <!--The Widget Section --> 
        <div class="span5 widgets">
          <h2 class="headline">Money-making Ads</h2>
          <p><img src="http://placehold.it/350x300"></p>
          <hr>

        </div>
      </div> 
    </div>
    <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'hammerinthenewscomments'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>