

              <!-- AddThis Button BEGIN -->
          <div class="addthis_toolbox addthis_floating_style addthis_16x16_style">
          <a class="addthis_button_facebook"></a>
          <a class="addthis_button_twitter"></a>
          <a class="addthis_button_linkedin"></a>
          <a class="addthis_button_google_plusone_share"></a>
          <a class="addthis_button_compact"></a>
          </div>
          <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=undefined"></script>
          <!-- AddThis Button END -->
  
    <div class="container box-around-all-articles">
      
    <div class="row">
        <!-- This is the main story section -->
        <div class="span8 wide-column main-posts">
          
           <div class="top-post">
       
              <% post = @posts.shift %>

              <h1 class="headline"><%= link_to post.title, post %></h1>
              <img src="http://placehold.it/714x250>">
              <p>Tags: <%= raw post.tag_list.map { |tag| link_to tag, tag_path(tag) }.join(', ') %></p>

              <p>
                <%= raw truncate post.body, length: 1900 %>
                <%= link_to "read more", post %>
                 |||
                    <%= link_to "Leave a comment",
                       post_path(  post, :anchor => "disqus_thread"),
                      :"data-disqus-identifer" =>   post.id %>
              </p>

            </div>

         <div class="other-posts">
          <!--This iterates through the posts -->
          <% @posts.each_with_index do |post, i| %>
            <% if i % 2 == 0 %>
              <div class="row">
            <% end %>
              <!--This is the smaller post section-->
              <div class="span4 small-post">
                <div class="post">
                  <h2 class="headline"><%= link_to post.title, post %></h2>
                  <p>Tags: <%= raw post.tag_list.map { |tag| link_to tag, tag_path(tag) }.join(', ') %></p>

                  <p>
                    
                    <img src="http://placehold.it/70x70" class="floatLeft">
                    
                    <%= raw truncate post.body, length: 300 %>
                    <%= link_to "read more", post %> |||
                    <%= link_to "Leave a comment",
                       post_path(  post, :anchor => "disqus_thread"),
                      :"data-disqus-identifer" =>   post.id %>
                    
                  </p>
                </div>  
              </div> 
            <% if i % 2 == 1 %>
              </div>
            <% end %> 
          <% end %>
        </div>
        </div>
         <!--The Widget Section -->  

        <div class="span4 widgets">
          <h1 class="headline">Money-making Ads</h1>
          <p><img src="http://placehold.it/350x300"></p>
          <p class="btn btn-large disabled"><%= link_to "New Post", new_post_path %></p>

        </div>

      
    </div>
    </div>
    
    <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'hammerinthenewscomments'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>