    <div class="container">
	    <div class="row">
		    <div class="span6">
		    <!--Body content-->
		    <h2 class="headline"><%= @post.title %></h2>

			    <p><%= raw @post.body %></p>
			    <iframe src="http://www.facebook.com/plugins/like.php?href=google.com&amp;layout=standard&amp;show_faces=true&amp;width=450&amp;action=recommend&amp;font=arial&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe> 
			    <a href="http://twitter.com/share" class="twitter-share-button" data-url="google.com" data-text="You NEED to see this story." data-count="horizontal" data-via="MyTwitterAccountUsername">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
			    <hr>

			    <h2 class="headline">Comments</h2>
			    <%= render @post.comments  %>
		    	<%= render 'comments/form',
		    				comment: @post.comments.build,
		    				post: @post %>
		    	<p>
		    	  <h2 class="headline">Tags:</h2><%= raw @post.tag_list.map { |tag| link_to tag, tag_path(tag) }.join(', ') %></h2>
		    	</p>
			    <p><%= link_to 'Edit', edit_post_path(@post), :class => 'btn btn-info' %>
			    <%= link_to 'Back', posts_path, :class => 'btn btn-info' %>
			    <%= link_to 'delete', @post, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn' %></p>	
		    </div>
		    <div class="span4">
		    <!--Sidebar content-->

		    	<h2 class="headline">Related Articles</h2>
		    	<h2 class="headline"><%= @random_post %></h2>

		    	<p><img src="http://placehold.it/350x300"></p>
		    	<p><img src="http://placehold.it/350x150"></p>
		    	<div class='spread'>
  
		    </div>
	    </div>
    </div>

	

	  