    <div class="container-fluid">
	    <div class="row-fluid">
		    <div class="span6">
		    <!--Body content-->
		    <h2 class="headline"><%= @post.title %></h2>

			    <p><%= raw @post.body %></p>
			    <hr>
			    <h2 class="headline">Comments</h2>
			    <%= render @post.comments  %>
		    	<%= render 'comments/form',
		    				comment: @post.comments.build,
		    				post: @post %>
		    	<p>
		    	  <h2 class="headline">Tags:</h2><%= raw @post.tag_list.map { |tag| link_to tag, tag_path(tag) }.join(', ') %></h2>
		    	</p>
			    <p><%= link_to 'Edit', edit_post_path(@post), :class => 'btn btn-info' %>
			    <%= link_to 'Back', posts_path, :class => 'btn btn-info' %>
			    <%= link_to 'delete', @post, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn' %></p>	
		    </div>
		    <div class="span4">
		    <!--Sidebar content-->

		    	<h2 class="headline">Related Articles</h2>
		    	<h2 class="headline"><%= @random_post %></h2>

		    	<p><img src="http://placehold.it/350x300"></p>
		    	<p><img src="http://placehold.it/350x150"></p>
		    	
		    </div>
	    </div>
    </div>

	

	  