    <div class="container">
	  <div class="row">
		  <div class="span6">
		    <!--Body content-->
		    <span class="show">
		    <h2 class="headline"><%= @post.title %></h2>

		    <p><%= @post.body.html_safe %></p>
		    
			<!--<%#= image_tag @post.image.url(:medium) %>-->		    	
    		
    		<div class="subheadline">Share with friends and foes:</div>
			
			<!-- Lockerz Share BEGIN -->
			<div class="a2a_kit a2a_default_style">
			<a class="a2a_dd" href="http://www.addtoany.com/share_save">Share</a>
			<span class="a2a_divider"></span>
			<a class="a2a_button_facebook"></a>
			<a class="a2a_button_twitter"></a>
			<a class="a2a_button_reddit"></a>
			</div>
			<script type="text/javascript">
			var a2a_config = a2a_config || {};
			a2a_config.onclick = 1;
			</script>
			<script type="text/javascript" src="http://static.addtoany.com/menu/page.js"></script>
			<!-- Lockerz Share END -->

	    	<h2 class="headline">Tags:</h2><%= raw @post.tag_list.map { |tag| link_to tag, tag_path(tag) }.join(', ') %>
	    				    
		    <h2 class="headline">Comments</h2>
		    
		    <div id ="disqus_thread">
				<%= disqus_thread.html_safe %>
			</div><!--disqus comments-->

		    <p><%= link_to 'Edit', edit_post_path(@post), :class => 'btn btn-info' %>
		    <%= link_to 'Back', posts_path, :class => 'btn btn-info' %>
		    <%= link_to 'delete', @post, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn' %></p>	
			</span>
		  </div><!--left column - main post-->
		   
		  <div class="span6">
		    <!--Sidebar content-->
		      <div class="related-articles">
		      <h2 class="headline">Related Articles</h2>
			  	<% @posts.each do |post| %>
	            <div class="floatLeft"><%= link_to (image_tag post.image.url(:thumb)), post_path(post) %></div>
	            <h2 class="headline smaller-font"><%= link_to post.title, post %></h2>
	            <div class="image-remove"><%= raw truncate_html(post.body, length: 70) %>
	               <%= link_to "Comment?",
	            		           post_path(  post, :anchor => "disqus_thread"),
	                    		  :"data-disqus-identifer" =>   post.id %></div>
	              <hr>
	             
	            <% end %>
         
	          </div><!--related articles box--> 
	        
		    	
    	  </div><!--sidebar-->
    	  
      </div> <!--row-->
    </div><!--container-->

	

	  