<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag 'favicon.ico?1' %>
  <title>Hammer In The News | Artifice is the New Steel</title>
    <%= content_for :head, auto_discovery_link_tag(:atom, posts_url(format: "atom")) %>
	  <%= stylesheet_link_tag "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
    
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" />
	  <!-- fonts -->
    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
    <!-- scripts-->
    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "8650f913-025e-4ba2-9c88-d4459db29c1f", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
    
    <script type="text/javascript">var disqus_developer = 1; // this would set it to developer mode</script>  
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>

    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]--> 
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
  </head>
 
<div class="container">
  <div class="row">
  <span class="header">
    <div class="span12">
        <header class="banner">
          <%= image_tag("skyline_thicker_HTN.jpg", :alt => "skyline_thicker_HTN") %>
        </header>
    </div><!-- span12 -->
  </div><!-- row -->
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">

        <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </a>
        </button>
              <a class="brand" href="/posts">Hammer In The News</a>
              <div class="nav-collapse collapse">
                <ul class="nav">
                  <li><a class="active" "/posts">Home</a></li>
                  <li><a href="#">Link</a></li>
                  <li><%= link_to "New Post", new_post_path %></li>
                </ul>
                <form class="navbar-form pull-right">
                  <input type="text" class="span2">
                  <button type="submit" class="btn">Submit</button>
                </form>
              </div><!-- nav-collapse collapse -->

        </div><!--containter-->
      </div><!--navbar-inner-->
    </div><!--navbar-->
  </span>
      

</div><!-- container -->


<div class="content">

      <%= yield %>

   <div id="footer-spacer"></div>
   <div class="pagination"><%= paginate @posts %></div>
    <div class="pagination">
          <ul>
            <li>
              <a href="#">Prev</a> 
            </li>
            <li>
              <a href="#">1</a> 
            </li>
            <li>
              <a href="#">2</a> 
            </li>
            <li>
              <a href="#">3</a> 
            </li>
            <li>
              <a href="#">4</a> 
            </li>
            <li>
              <a href="#">Next</a> 
            </li>
          </ul>
      </div>
   <div id="footer">

   <div id="center_footer">

   <div id="left_footer"><b>Find Us On</b>
     <ul>
       <li><%= image_tag("iconmonstr-facebook-5-icon.png", :alt => "facebook-5-icon") %></li>
       <li><%= image_tag("iconmonstr-google-plus-5-icon.png", :alt => "google-plus-5-icon") %></li>
       <li><%= image_tag("iconmonstr-twitter-5-icon.png", :alt => "twitter-5-icon.png") %></li>
       
     </ul>
     <p><% if user_signed_in? %>
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "Sign In", new_user_session_path %>
        <% end %>
     </p>
   </div><!--left-footer-->
      
   <div id="right_footer">
    <div class="span3 well">
      <legend>Sign up to hear this shit every day!</legend>
      
      <form accept-charset="UTF-8" action="" method="post">
      
      <input class="span3" name="name" placeholder="Full Name" type="text">
      
      <input class="span3" name="email" placeholder="email@example.com" type="text">
      
           
      <button class="btn btn-warning" type="submit">Sign up for emails</button>
      </form>
    </div>
   </div> 
   
   <span>© HTN corp. 2013 </span>
   
 </div> 
</div> 
</div> <!-- /content -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/bootstrap-transition.js"></script>
    <script src="../assets/js/bootstrap-alert.js"></script>
    <script src="../assets/js/bootstrap-modal.js"></script>
    <script src="../assets/js/bootstrap-dropdown.js"></script>
    <script src="../assets/js/bootstrap-scrollspy.js"></script>
    <script src="../assets/js/bootstrap-tab.js"></script>
    <script src="../assets/js/bootstrap-tooltip.js"></script>
    <script src="../assets/js/bootstrap-popover.js"></script>
    <script src="../assets/js/bootstrap-button.js"></script>
    <script src="../assets/js/bootstrap-collapse.js"></script>
    <script src="../assets/js/bootstrap-carousel.js"></script>
    <script src="../assets/js/bootstrap-typeahead.js"></script>
 
    
  </body>
</html>
