<!DOCTYPE html>
<html>
<head>
  
  <title>HTN</title>
    <%= content_for :head, auto_discovery_link_tag(:atom, posts_url(format: "atom")) %>
	  <%= stylesheet_link_tag "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
    
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" />
	  <!-- fonts -->
    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
    <!-- scripts-->
    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "8650f913-025e-4ba2-9c88-d4459db29c1f", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
    
    <script type="text/javascript">var disqus_developer = 1; // this would set it to developer mode</script>  
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>

    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]--> 
</head>
    <div class="navbar navbar-inverse navbar-fixed-top">
      
      <div class="navbar-inner">
        <header class="banner">
          <%= image_tag("skyline_thicker_HTN.jpg", :alt => "skyline_thicker_HTN") %>
        </header>
        <div class="container">

         
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/posts">HammerInTheNews</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="/users">About</a></li>
              <li><a href="#contact">Contact</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "New Post", new_post_path %></li>
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  
                </ul>
              </li>
            </ul>
            <form class="navbar-form pull-right">
              <input class="span2" type="text" placeholder="Email">
              <input class="span2" type="password" placeholder="Password">
              <button type="submit" class="btn">Sign in</button>
            </form>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="content">

      
      <%= yield %>

     <div id="footer-spacer"></div>
<div id="footer">

 <div id="center_footer">

   <div id="left_footer"><b>Find Us On</b>
   <ul>
     <li> <a href="#"><img src="images/facebook.png"  /></a> </li>
     <li> <a href="#">  <img src="images/twitter.png"  />  </a> </li>
     <li> <a href="#"> <img src="images/youtube.png"  /> </a> </li>
     <li> <a href="#">     <img src="images/rss.png"  />     </a> </li>
     </ul>
            <p><% if user_signed_in? %>
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to "Sign In", new_user_session_path %>
          <% end %>
       </p>
   </div> 
      
   <div id="right_footer">
    <div class="span3 well">
      <legend>Sign up to hear this shit every day!</legend>
      
      <form accept-charset="UTF-8" action="" method="post">
      
      <input class="span3" name="name" placeholder="Full Name" type="text">
      
      <input class="span3" name="email" placeholder="email@example.com" type="text">
      
           
      <button class="btn btn-warning" type="submit">Sign up for emails</button>
      </form>
    </div>
   </div> 
   
   <span>© HTN corp. 2013 </span>
   
 </div> 
</div> 

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/bootstrap-transition.js"></script>
    <script src="../assets/js/bootstrap-alert.js"></script>
    <script src="../assets/js/bootstrap-modal.js"></script>
    <script src="../assets/js/bootstrap-dropdown.js"></script>
    <script src="../assets/js/bootstrap-scrollspy.js"></script>
    <script src="../assets/js/bootstrap-tab.js"></script>
    <script src="../assets/js/bootstrap-tooltip.js"></script>
    <script src="../assets/js/bootstrap-popover.js"></script>
    <script src="../assets/js/bootstrap-button.js"></script>
    <script src="../assets/js/bootstrap-collapse.js"></script>
    <script src="../assets/js/bootstrap-carousel.js"></script>
    <script src="../assets/js/bootstrap-typeahead.js"></script>
 
    
  </body>
</html>
