<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag 'favicon.ico?1' %>
  <title>Hammer In The News | Artifice is the New Steel</title>
    <%= content_for :head, auto_discovery_link_tag(:atom, posts_url(format: "atom")) %>
	  <%= stylesheet_link_tag "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
    
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" />
	  <!-- fonts -->
    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
    <!-- scripts-->
    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "8650f913-025e-4ba2-9c88-d4459db29c1f", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
    
    <script type="text/javascript">var disqus_developer = 1; // this would set it to developer mode</script>  
    <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]--> 
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "http://connect.facebook.net/en_GB/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
  </head>
 
<div class="container header">
  <div class="navbar navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="date"><%= Time.now.strftime("%A,  %B %d, %Y") %></a>
      <!-- Docs at http://simpleweather.monkeecreate.com -->
<!--       <a class="date" id="weather"></a> -->
        
      <div class="nav-collapse">
        
        <ul class="nav">
          <li class="dropdown">
            <% if user_signed_in? %>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<b class="caret"></b></a>
              <ul class="dropdown-menu">
              <li><%= link_to "New Post", new_post_path, :class => "ptsans" %></li>
            <% else %>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contact<b class="caret"></b></a>
              <ul class="dropdown-menu">
              <li><%= mail_to "hammeringthenews@gmail.com", "Email the editor", :subject => "A question for HTN", :class => "ptsans" %></li>              
            <% end %>  
            </ul>
          </li>
        </ul>
        
            <!-- This is the search field -->
            <%= search_form_for @q,class: "navbar-search pull-right" do |form| %>
              <%= form.text_field :body_cont, class: "search-query span2", placeholder: "Search" %>
              <%= form.submit  %>
            <% end %>
            
       </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
  </div><!-- /.navbar-inner -->
</div><!-- /.navbar -->
  <div class="row">
  <span class="header">
    <div class="span12">
        <header class="banner">
          <!--Think makes the header clickable-->
          <%= link_to (image_tag("HTN_SKINNY_BANNER.jpg", :alt => "skyline_thicker_HTN")), posts_path %>
        </header>
    </div><!-- span12 -->
  </div><!-- row -->
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div class="container">

        <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </a>
        </button>
              <a class="brand ptsans" href="/posts">Hammer In The News</a>
              <div class="nav-collapse collapse">
                <ul class="nav">
                  
                </ul>
                <form class="navbar-form pull-right">

                </form>
              </div><!-- nav-collapse collapse -->
  </span>
        </div><!--containter-->
      </div><!--navbar-inner-->
    </div><!--navbar-->

      

</div><!-- container -->


<div class="content">
    <!-- Iterate over the flash hash and output the message. -->
     <% flash.each do |key, message| %>
      <div class="alert alert-<%= key %>">
        <%= message %>
      </div>
    <%end %>

      <%= yield %>

   <div id="footer-spacer"></div>

   <div class="pagination"></div>
    
   <footer>
    <div class="footer">
       <div class="container narrow row-fluid">
          <div class="span4 left_footer">
            <%= image_tag("icon_256.png", :alt => "Internet Badge", :class => "footer_badge") %>

          </div>
          
          <div class="span4 center_footer">
            <h2 class="headline" style="color:white";>Recent Articles</h2>
            <% recent_posts.each do |post| %>
              <h2 class="headline smaller-font footer_links"><%= link_to post.title, post %></h2>
            <% end %>
          </div>
          
          <div class="span4 right_footer">
            <div class="well">
            <legend class="headline">GET THE NEWS DELIVERED <br> RIGHT TO YOUR INBOX</legend>            
              <%= form_for Fan.new do |f| %>
              
                <%= f.text_field :name, placeholder: 'Full Name' %>
                <%= f.text_field :email, placeholder: 'email@example.com' %>
                <%= f.submit %>
               
              <% end %>
            </div>
          </div>
       </div>
    </div>
  </footer>
</div> 
</div> <!-- /content -->

    
  </body>
</html>
